@use "sass:color";
@use "/src/assets/styles/settings/colors";
@use "/src/assets/styles/tools/mixins";

@import "npm:sass-mq/mq";

%event-title {
  color: color.adjust(colors.$ternary, $lightness: -20%);
}

@function scale-func($size, $amount: 1) {
  @return $size * $amount;
}

.cover {
  font-size: 1.1rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("../images/5352508316_8a8fc1706e_o.png");
  background-size: cover;
  background-position: center;
  font-family: Avenir, Helvetica, georgia, serif;

  &__event-container {
    container: event / inline-size;
  }

  &__event-title {
    $font-size: 0.9em;

    &--up {
      @extend %event-title;
      font-size: 1.5rem;
      @container event (inline-size > 250px) {
        font-size: max(1.5em, 1.23em + 2cqi);
      }
    }

    &--bottom {
      @extend %event-title;
      font-size: scale-func($font-size);
    }
  }

  ul {
    @include mixins.event-list;
  }

  p {
    font-size: 0.8em;
    color: colors.$primary;
  }

  @supports (display:grid) {
    li {
      float: none !important;
      height: auto !important;
      width: auto !important;
      margin: 0 !important;
    }

    ul {
      display: grid;
      gap: 10px;
    }

    @include mq($from: tablet) {
      ul {
        grid-template-rows: repeat(5, auto-fill);
        grid-template-columns: repeat(3, auto);
      }

      li:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }

      li:nth-child(2) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }

      li:nth-child(3) {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
      }

      li:nth-child(4) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }

      li:nth-child(5) {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
      }

      li:nth-child(6) {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
      }

      li:nth-child(7) {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
      }

      li:nth-child(8) {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
      }

      li:nth-child(9) {
        grid-row: 4 / 5;
        grid-column: 4 / 5;
      }

      li:nth-child(10) {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
      }

      li:nth-child(11) {
        grid-row: 5 / 6;
        grid-column: 3 / 4;
      }
    }
  }
}
