.speakers-container {
  container: speakers / inline-size;
}

.speaker-container {
  flex-direction: column;
  @container speakers (inline-size <= 400px) {
    max-width: 100cqw;
  }
  @container speakers (inline-size > 400px) {
    flex-direction: row;
    max-width: 48cqw;
  }
  @container speakers (inline-size > 720px) {
    max-width: 32cqw;
  }
}

