.c-uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);

  &__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    max-width: 200px;
    height: auto;

    @media (min-width: $mq-min-width) {
      max-width: none;
    }
  }

  &__title {
    font-family: $font-family-serif;
    font-size: 24px;
    font-weight: 700;
    color: $uoc-corporate;

    @media (min-width: $mq-min-width) {
      font-size: 36px;
    }
  }
}
