.post-image-container {
  container: post-image / inline-size;
}

@mixin post-image($x: 50%, $y: 50%) {
  align-items: center;
  height: 530px;
  width: 100%;
  object-fit: cover;
  object-position: $x $y;
}

.post-image--top {
  @include post-image($y: 0%);
}

.post-image--center {
  @include post-image($y: 50%);
}

.post-image--bottom {
  @include post-image($y: 100%);
}
