<header>
  <nav class="container-fluid navbar fixed-top navbar-expand navbar-light bg-light border-bottom border-danger">
    <div class="container">
      <a class="navbar-brand" href="./">
        <picture>
          <source srcset="./assets/images/logo.png?as=avif&height=80, ./assets/images/logo.png?as=avif&height=160 2x" type="image/avif">
          <img src="./assets/images/logo.png?height=50" alt="UOC Cybersecurity Congress logo">
        </picture>
      </a>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav" id="header-navbar">
          <li class="nav-item">
            <a class="nav-link" href="./speakers.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./news.html">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
