<main class="flex-grow-1 container pt-5 pb-5">
  <h1 class="text-center display-4">Contact</h1>
  <form
    name="contact"
    method="POST"
    data-netlify="true"
    class="contact-form mx-auto pt-3 pt-md-4 form-container">
    <div class="row gy-3 gy-md-4">
      <div class="col-12">
        <label for="fullname" class="form-label">
          Full Name
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="fullname"
          name="fullname"
          value=""
          required>
      </div>
      <div class="col-12 col-md-6">
        <label for="email" class="form-label">
          Email
          <span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value=""
            required>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="phone" class="form-label">Phone Number</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-phone"></i>
          </span>
          <input
            type="tel"
            class="form-control"
            id="phone"
            name="phone"
            value="">
        </div>
      </div>
      <div class="col-12">
        <label for="subject" class="form-label">
          Subject
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          id="subject"
          name="subject"
          value=""
          required>
      </div>
      <div class="col-12">
        <label for="message" class="form-label">
          Message
          <span class="text-danger">*</span>
        </label>
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="3"
          required></textarea>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="d-grid">
          <button class="btn btn-primary btn-lg" type="submit">Send Message</button>
        </div>
      </div>
    </div>
  </form>
  <!-- <picture>
    <source srcset="./assets/images/logo.png?as=webp&width=350" type="image/webp">
    <img
    class="mx-auto d-block"
    src="./assets/images/logo.png?width=350"
    alt="Universitat Oberta de Catalunya">
    </picture> -->
</main>
