<main class="container-fluid flex-grow-1 cover">
  <div class="container pt-5 pb-5">
    <ul>
      <!-- 1 -->
      <li>
        <h3 class="cover__event-title--up">Confessions of a Dirty Hacker</h3>
        <p>Ben Hammersley will describe how the security landscape has changed over the past two decades and yet has remained very much the same.</p>
        <h4 class="cover__event-title--bottom">January 27, 8pm</h4>
      </li>
      <!-- 2 -->
      <li>
        <h3 class="cover__event-title--up">Adversaries are Getting Smarter in the Cloud</h3>
        <p>Adversaries are turning over cloud infrastructure to compromise an organization.</p>
        <h4 class="cover__event-title--bottom">February 25, 8pm</h4>
      </li>
      <!-- 3 -->
      <li>
        <h3 class="cover__event-title--up">Building a Culture of Cyber Resilience</h3>
        <p>How to ensure cyber resilience in the industry 4.0 reality? What is happening and what is to come in OT Cyber Security?</p>
        <h4 class="cover__event-title--bottom">March 13, 7:30pm</h4>
      </li>
      <!-- 4 -->
      <li>
        <h3 class="cover__event-title--up">Culture Change and Workforce Development</h3>
        <p>In the rapidly evolving landscape of cybersecurity, the significance of integrating culture and competence cannot be overstated. This presentation delves into the pivotal role that cultural awareness and competency play in fortifying our digital defenses. </p>
        <h4 class="cover__event-title--bottom">March 14, 8pm</h4>
      </li>
      <!-- 5 -->
      <li>
        <h3 class="cover__event-title--up">Cybercrime Trends</h3>
        <p>AI changed everything last year. Now, in 2024, the real battle begins: Who will harness the power of new technologies and the psychology of human behavior more effectively – us or the cybercriminals?</p>
        <h4 class="cover__event-title--bottom">March 15, 2:30pm</h4>
      </li>
      <!-- 6 -->
      <li>
        <h3 class="cover__event-title--up">Detecting Zero-Days Before Zero-Day</h3>
        <p>Classifying novel HTTP based exploits before they are disclosed is the ultimate challenge.</p>
        <h4 class="cover__event-title--bottom">March 15, 11:15pm</h4>
      </li>
      <!-- 7 -->
      <li>
        <h3 class="cover__event-title--up">Survival of the Fittest</h3>
        <p>In the dense foliage of cyberspace, data can be likened to wild creatures in the jungle.</p>
        <h4 class="cover__event-title--bottom">March 16, 8pm</h4>
      </li>
      <!-- 8 -->
      <li>
        <h3 class="cover__event-title--up">Employee Training and Awareness</h3>
        <p>Cyberattacks and data breaches are increasing daily and this is an alert for more awareness and more education in cyber security.</p>
        <h4 class="cover__event-title--bottom">March 16, 9pm</h4>
      </li>
      <!-- 9 -->
      <li>
        <h3 class="cover__event-title--up">Understanding Crypto BoMs</h3>
        <p>Implementing a Post-Quantum Cryptographic Bill of Materials is essential, enabling resilient data security and safe and ethical quantum and binary computing application.</p>
        <h4 class="cover__event-title--bottom">March 17, 11:15pm</h4>
      </li>
      <!-- 10 -->
      <li>
        <h3 class="cover__event-title--up">The Future of AI-powered Cyber Operations</h3>
        <p>Artificial Intelligence and Large Language Models (LLMs) are here to stay and they are changing the cybersecurity.</p>
        <h4 class="cover__event-title--bottom">March 18, 7:30pm</h4>
      </li>
      <!-- 11 -->
      <li>
        <h3 class="cover__event-title--up">Technologies for a Safer Future</h3>
        <p>Industrial environments have become one of the main targets of cybercriminals as critical assets are being connected to the cloud and bridged to IT environments.</p>
        <h4 class="cover__event-title--bottom">March 18, 8pm</h4>
      </li>
    </ul>
  </div>
</main>
