$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

/* BREAKPOINTS */

// breakpoint variables
$mobile-breakpoint: 360px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-breakpoint: 1200px;

/* sasss-mq */

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
  mobile:  $mobile-breakpoint,
  tablet:  $tablet-breakpoint,
  desktop: $desktop-breakpoint,
  wide: $wide-breakpoint
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width. For example: (mobile, tablet, desktop).
$mq-show-breakpoints: (mobile, tablet, desktop, wide);

/* bootstrap breakpoints */
$container-max-widths: (
  md: $tablet-breakpoint,
  lg: $desktop-breakpoint,
  xl: $wide-breakpoint,
);

/* COLOR PALETTE */

// color palette variables
$primary: #364f6b;
$secondary: #3fc1c9;
$ternary: #fc5185;
$quaternary: #f5f5f5;
$danger: $ternary;
$light: $quaternary;

$custom-colors: (
  "ternary": $ternary,
  "quaternary": $quaternary,
);
